<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Account NO</th>
            <th scope="col">Owner</th>
            <th scope="col">Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account:${accounts}">
            <td>
                <a th:href="@{'/accounts/'+${account.id}}" th:text="${account.id}"></a>
            </td>
            <td th:text="${account.client.name}"></td>
            <td th:text="${account.balance}"></td>

        </tr>
        </tbody>
    </table>
</div>
</html>