<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <h3 th:text="'Owner: '+${account.client.name}"></h3>
    <h5 th:text="'Account NO: '+${account.id}"></h5>
    <h5 th:text="'Balance: '+${account.balance}"></h5>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">DateTime</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction:${account.transactions}">
            <td>
                <a th:href="@{'/transactions/'+${transaction.id}}"
                   th:text="${#temporals.format(transaction.timeStamp, 'dd-MM-yyyy HH:mm:ss')}"></a>
            </td>
            <td style="color: green;" th:if="${transaction.transactionType.name().equalsIgnoreCase('top_up')}"
                th:text="'+'+${transaction.amount}"></td>
            <td style="color: red;" th:if="${transaction.transactionType.name().equalsIgnoreCase('withdraw')}"
                th:text="'-'+${transaction.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>