<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <form method="post" th:action="@{/transactions/filter}">
        <label for="dateFrom">From: </label>
        <input id="dateFrom" name="dateFrom" type="date">
        <label for="dateTo">To: </label>
        <input id="dateTo" name="dateTo" type="date">
        <select name="client">
            <option selected th:value="0">---</option>
            <option th:each="client:${clients}" th:text="${client.name}"
                    th:value="${client.id}"></option>
        </select>
        <input class="btn-sm" type="submit" value="Filter">
    </form>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">DateTime</th>
            <th scope="col">Client</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction:${transactions}">
            <td>
                <a th:href="@{'/transactions/'+${transaction.id}}"
                   th:text="${#temporals.format(transaction.timeStamp, 'dd-MM-yyyy HH:mm:ss')}"></a>
            </td>
            <td th:text="${transaction.account.client.name}"></td>
            <td style="color: green;" th:if="${transaction.transactionType.name().equalsIgnoreCase('top_up')}"
                th:text="'+'+${transaction.amount}"></td>
            <td style="color: red;" th:if="${transaction.transactionType.name().equalsIgnoreCase('withdraw')}"
                th:text="'-'+${transaction.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>