<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">DateTime</th>
            <th scope="col">Client</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction:${transactions}">
            <td>
                <a th:href="@{'/transactions/'+${transaction.id}}" th:text="${transaction.timeStamp}"></a>
            </td>
            <td th:text="${transaction.account.client.name}"></td>
            <td th:text="${transaction.transactionType}"></td>
            <td th:text="${transaction.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>